<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/bundles/myplaybandsitio/js/MyPlayBandSlider.js"></script>
</head>
<body>
	HOLA
	<ul>
		<li rel="Image">1</li>
		<li rel="Image">2</li>
		<li rel="Image">3</li>
		<li rel="Image">4</li>
		<li rel="Image">5</li>
	</ul>
</body>
</html>

