body {
	background: #ececec;
    color: #3b3b3b;
    font-family: Arial;
}

#top {
    background-color: #464646;
    height: 40px;
    margin-top:0px;
}

#containerlayout {
    margin: 0 auto;
    padding: 0 10px;
    width: 900px;  
    margin-top: 0px;
    background: #ffffff;
}

