{% extends '::base.html.twig' %}

{% block stylesheets %}    
    {% stylesheets '@MyPlayBandSitioBundle/Resources/public/css/layout.css' %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
	<header>
		<section id="top">
				<input type="search" placeholder="buscar..." style="border:0;width: 250px; height:25px;margin: 5px;float:right" />
		</section>
			</header>
		<section id="container">  	</section>

{% endblock %}