{% extends '::base.html.twig' %}

{% block stylesheets %}    
    {% stylesheets 
    	'@MyPlayBandSitioBundle/Resources/public/css/reset.css' 
    	'@MyPlayBandSitioBundle/Resources/public/css/layout.css'
    	'@MyPlayBandSitioBundle/Resources/public/css/style.css'
	%}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
	<header>
		<section id="top">
			<input type="search" placeholder="buscar..." style="border:0;width: 250px; height:25px;margin: 5px;float:right" />
		</section>

<style>
	.lof-snleft  .lof-main-outer{
		float:right;
	}
	/* move the main wapper to the right side */
	.lof-snleft .lof-main-wapper{
		margin-left:auto;
		margin-right:inherit;
		clear:both;
		height:300px;
	}
	/* move the navigator to the left  side */
	.lof-snleft .lof-navigator-outer{
		left:0;
		top:0;
		right:inherit;
		
	}
	
	ul.lof-main-wapper li {
		position:relative;	
	}
	.lof-snleft .lof-navigator .active{
		background:url(/bundles/myplaybandsitio/img/arrow-bg2.gif) center right no-repeat;
	}
	.lof-snleft .lof-navigator li div{
		margin-left:inherit;
		margin-right:18px;
	}
	
	.lof-snleft .lof-navigator li.active div{
		margin-left:inherit;
		margin-right:18px;
		background:url(/bundles/myplaybandsitio/img/grad-bg2.gif)
		
	}
</style>

<div id="lofslidecontent45" class="lof-slidecontent  lof-snleft">
<div class="preload"><div></div></div>
 <!-- MAIN CONTENT --> 
  <div class="lof-main-outer">
  	<ul class="lof-main-wapper">
  		<li>
        		<img src="/bundles/myplaybandsitio/img/791902news3.jpg" title="Newsflash 2" height="300" width="900">           
                 <div class="lof-main-item-desc">
                <h3><a target="_parent" title="Newsflash 2" href="#">Newsflash 2</a></h3>

                <p>The one thing about a Web site, it always changes! Joomla! makes it easy to add Articles, content,...</p>
             </div>
        </li> 
       <li>
        	<img src="/bundles/myplaybandsitio/img/435576news10.jpg" title="Newsflash 1" height="300" width="900">            <div class="lof-main-item-desc">
                <h3><a target="_parent" title="Newsflash 1" href="#">Newsflash 1</a></h3>
                <p>Joomla! makes it easy to launch a Web site of any kind. Whether you want a brochure site or you are...</p>

             </div>
        </li> 
       <li>
        	<img src="/bundles/myplaybandsitio/img/641906img1.jpg" title="Newsflash 3" height="300" width="900">            <div class="lof-main-item-desc">
                <h3><a target="_parent" title="Newsflash 3" href="#">Newsflash 3</a></h3>
                <p>With a library of thousands of free Extensions, you can add what you need as your site grows. Don't...</p>
             </div>
        </li> 
        <li>

        	<img src="/bundles/myplaybandsitio/img/416719news7.jpg" title="Newsflash 5" height="300" width="900">            <div class="lof-main-item-desc">
                <h3><a target="_parent" title="Newsflash 5" href="#">Newsflash 5</a></h3>
                <p>Joomla! 1.5 - 'Experience the Freedom'!. It has never been easier to create your own dynamic Web...</p>
             </div>
        </li> 
        
        <li>

        	<img src="/bundles/myplaybandsitio/img/416719news7.jpg" title="Newsflash 5" height="300" width="900">            <div class="lof-main-item-desc">
                <h3><a target="_parent" title="Newsflash 5" href="#">Newsflash 5</a></h3>
                <p>Joomla! 1.5 - 'Experience the Freedom'!. It has never been easier to create your own dynamic Web...</p>
             </div>
        </li> 
        <li>

        	<img src="/bundles/myplaybandsitio/img/416719news7.jpg" title="Newsflash 5" height="300" width="900">            <div class="lof-main-item-desc">
                <h3><a target="_parent" title="Newsflash 5" href="#">Newsflash 5</a></h3>
                <p>Joomla! 1.5 - 'Experience the Freedom'!. It has never been easier to create your own dynamic Web...</p>
             </div>
        </li> 
      </ul>  	
  </div>
  <!-- END MAIN CONTENT --> 
    <!-- NAVIGATOR -->

  <div class="lof-navigator-outer">
  		<ul class="lof-navigator">
            <li>
            	<div>
                	<img src="/bundles/myplaybandsitio/img/lofthumbs/791902news3.jpg" />
                	<h3> NewsFlash 1 </h3>
                  	<span>20.01.2010</span> - In id, mauris viverra asperiores, bibendum in id. Eu molestie. Ac sit eu...
                </div>    
            </li>
             <li>
             	<div>
                	<img src="/bundles/myplaybandsitio/img/lofthumbs/435576news10.jpg" />
                 	<h3> NewsFlash 2 </h3>
                  	<span>20.01.2010</span> -In id, mauris viverra asperiores, bibendum in id. Eu molestie. Ac sit eu. ..
                </div>    
            </li>

            <li>
            	<div>
                    <img src="/bundles/myplaybandsitio/img/lofthumbs/641906img1.jpg" />
                    <h3> NewsFlash 3 </h3>
                	<span>20.01.2010</span> - In id, mauris viverra asperiores, bibendum in id. Eu molestie. Ac sit eu. ..
                </div>     
            </li>
            
           <li>
           		<div>
                    <img src="/bundles/myplaybandsitio/img/lofthumbs/416719news7.jpg" />
                    <h3> NewsFlash 4</h3>
                    <span>20.01.2010</span> - In id, mauris viverra asperiores, bibendum in id. Eu molestie. Ac sit eu. ..
                </div>
            </li>    
            <li>
           		 <div>
                 	<img src="/bundles/myplaybandsitio/img/lofthumbs/641906img1.jpg" />
                 	<h3> NewsFlash 5</h3>
                 	<span>20.01.2010</span> -In id, mauris viverra asperiores, bibendum in id. Eu molestie. Ac sit eu. ..
                 </div>   
            </li>
           <li>
           		<div>
                    <img src="/bundles/myplaybandsitio/img/lofthumbs/416719news7.jpg" />
                    <h3> NewsFlash 6</h3>
               		<span>20.01.2010</span> - In id, mauris viverra asperiores, bibendum in id. Eu molestie. Ac sit eu. ..
                </div>
            </li>     		
        </ul>
  </div>
 </div> 

	</header>
	<section id="container">  	</section>

{% endblock %}

{% block javascripts %}    
	<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" />	
    <script>
  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script-->
    {% javascripts 
    	'@MyPlayBandSitioBundle/Resources/public/js/jquery.js'
    	'@MyPlayBandSitioBundle/Resources/public/js/jquery.easing.js'    	
    	'@MyPlayBandSitioBundle/Resources/public/js/script.js'
	%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}        
    
    <script>
		$(document).ready( function(){	
			$('#lofslidecontent45').lofJSidernews( { interval:3500,
											 	easing:'easeOutBounce',
												duration:1500,
												auto:true } );						
		});
    </script>
{% endblock %}