{% extends '::base.html.twig' %}

{% block stylesheets %}    
    {% stylesheets '@MyPlayBandSitioBundle/Resources/public/css/layout.css' %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
	<style>
		body {
			margin: 0;
		}
	</style>
	<div id="container">
	<header>
		<section id="top" style="background: black; height: 40px">
			
			<input type="search" placeholder="buscar..." style="border:0;width: 250px; height:25px;margin: 5px;float:right" />
		</section>
			</header></div>
{% endblock %}